* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    background-color: rgb(255, 255, 255);
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-black {
    background-color: black;
}

.grid-white {
    background-color: white;
}
#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid black;
}

.pieces {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.highlight-move { background-color: lightgreen !important; border: 2px solid black }
.highlight-capture { background-color: lightcoral !important; border: 2px solid black }
